.title{
    font-size: 20px;
    font-weight: 500;
    color: #54B5F6;
    text-align: center;
    margin-top: 20px;
}
.title h1{
    font-size: 45px;
    font-weight: 600;
    color: #08003a;
    text-align: center;
    margin-top: 40px;
}